body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    color: lightblue;
    width: 1200px;
    margin: auto;
}
 

h1{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 25px;
}

.keuzemenu{
    color: white;
    background-color: blue;
    text-decoration: none;
    text-align: right;
    margin-left: 88%;
    padding: 4px;
    width: 150px;
    border: 1px solid blue;
    border-radius: 3px;
}

a{
    color: white;
    text-decoration: none;
}
  
.fotowrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.autofoto{
    padding: 10px;
    margin: 25px;
    width: 300px;
    height: 300px;
    border: 1px solid grey;
    border-radius: 4px;
    flex-wrap: wrap;
}

.omschrijving{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color:  grey;
    text-align: center;;

}
 

@media (max-width: 400px) {
    body {
        background-color: white;
         
    }
    img {
            width: 70%;
            height: auto;
        }
    a  {
        margin-left: 30%;
    }
    p1 {
        width: 85%;
        height: auto;
        font-size: 20px;
    }
}