body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
     color: lightblue;
}

body:hover a {
    background-color: blue;
    color: white;
    border: 1px dotted blue;
}

h1{
    color: blue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    text-align: center;
    margin: auto;
    padding: 25px;
}

a{
    color: lightskyblue;
    text-decoration: none;
    text-align: right;
    margin-left: 88%;
    padding: 2px;
    width: 150px;
    border: 1px solid blue;
    border-radius: 3px;

}

a:hover{
    color: red;
}

img{
    display: block;
    margin: auto;
}

p1{
    line-height: 1.6;
    margin: auto;
    padding: 20px;
    width: 800px;
    height: 200px;
}

@media (max-width: 400px) {
    body {
        background-color: white;
         
    }
    img {
            width: 70%;
            height: auto;
        }
    a  {
        margin-left: 30%;
    }
    p1 {
        width: 85%;
        height: auto;
        font-size: 20px;
    }
}